#post_details {
    padding-top: 4rem;
}

#post_details .post_details_wrapper {
    /* max-width: 100%; */
    background-color: #fff;
    margin-inline: auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

#post_details .post_details_wrapper .left{
    width: 80%;
}

#post_details .left .post_details_img img {
    object-fit: cover;
    object-position: center center;
}

#post_details .post_details_wrapper .right{
    width: 20%;
}

.post_details_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.post_details_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.post_details_buttons a {
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--bgsoft);
    box-shadow: var(--box_shadow);
    border: 1px solid #7d7d7d;
    transition: var(--transition);
}


.post_details_buttons a:nth-child(1){
    background-color: var(--primary_color);
}

.post_details_buttons a:nth-child(1):hover,
.post_details_buttons a:nth-child(1):focus {
    background-color: #fff;
    color: var(--text_color);
}

.post_details_buttons a:nth-child(2):hover,
.post_details_buttons a:nth-child(2):focus {
    background-color: #fff;
    color: var(--text_color);
}

.post_details_wrapper .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .7rem;
    margin-top: 1.5rem;
}

.post_details_wrapper .title h1 {
    font-size: 36px;
    color: #000;
}

.post_details_wrapper .title .share .icon{
    font-size: 1.7rem;
    color: #000;
}

.post_details_img {
    margin: 1rem 0;
    max-height: 30rem;
    overflow: hidden;
}

.post_details_wrapper p {
    margin-bottom: .8rem;
    line-height: 1.7;
}

.post_details_wrapper h2{
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    font-weight: 400;
    padding: .5rem 0;
    margin: 1.5rem 0;
}

@media screen and (max-width:1024px) {
    #post_details .post_details_wrapper {
        width: 100%;
        background: transparent;
        padding: 1rem;
    }

    .post_details_img {
        max-height: 25rem;
    }
}

@media screen and (max-width:950px) {
    #post_details .post_details_wrapper {
        flex-direction: column;
    }

    #post_details .post_details_wrapper .left {
        width: 100%;
    }

    #post_details .post_details_wrapper .right {
        width: 0%;
        flex-direction: row;
    }
}



@media screen and (max-width:450px) {

    .post_details_wrapper .title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .post_details_wrapper .title h1 {
        font-size: 34px;
    }
    
    .post_details_wrapper .title .share .icon{
        font-size: 1.5rem;
        margin-right: .6rem;
    }
}