#dashboard {
    padding-top: 5rem;
}

.dashboard_container {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.dashboard_post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem 1.2rem;
    border-radius: 3px;
    background-color: #fff;
}

.dashboard_post_info {
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
}

.dashboard_post_thumbnail {
    width: 4rem;
    border-radius: 3px;
    overflow: hidden;
}

.dashboard_post_actions {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width:640px) {
    .dashboard_post {
        flex-direction: column;
    }

    .dashboard_post_info{
        gap: 1rem;
    }

    .dashboard_post_thumbnail {
        width: 5rem;
        min-height: 5rem;
    }

    .dashboard_post_actions {
        gap: .5rem;
    }
}