
.new_posts {
  display: flex;
  flex-direction: column;
}

.new_posts_wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  }
  
.new_posts {
    background-color: white;
    padding-bottom: 1rem;
    transition: var(--transition);
    cursor: pointer;
    margin: 1rem 0;
    border-radius: 1rem;
}

.new_posts:hover,
.new_posts:focus {
    box-shadow: 0 .3rem .5rem rgba(80, 80, 80, 0.1);
}

.new_posts .new_posts_img {
    overflow: hidden;
    max-height: 20rem;
    border-radius: 1rem;
}

.new_posts .new_posts_img img {
    max-width: 300px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
}

.new_posts_content {
    /* margin-top: 1rem; */
    padding: 0 1rem;
}

.new_posts_content h3 {
    margin: 1rem 0 0.6rem;
}

.new_posts_footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: .5rem;
    padding: 0 1rem;
}


 /* =========== MEDIA QUERY ========== */

@media screen and (max-width:800px) {
   .latests_posts {
     padding-bottom: 0;
   }

    .latests_posts  .new_posts_wrapper {
      max-width: 98%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .new_posts {
      display: flex;
      flex-direction: row;
  }
  
    .latests_posts .new_posts_img img {
      width: 100%;
      height: 150px;
  }
  }

  @media screen and (max-width:640px) {
    .container {
      max-width: 475px;
    }
  
    .new_posts_wrapper {
      grid-template-columns: 1fr;
    }
  
    .new_posts .new_posts_img img {
      width: 200px;
      height: 150px;
      min-height: fit-content;
    }

    .new_posts_content {
        padding: 0 1rem;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }

    .new_posts_footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        padding-bottom: 1rem;
    }
  }