#home .home_wapper{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    gap: 2rem;
}

#home .right {
    width: 20%;
}

#home .right h2{
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    font-weight: 400;
    padding: .5rem 0;
    margin: 1.5rem 0;
}

#home .left {
    width: 80%;
}


    /* ======= MEDIA QUERY ======= */
@media screen and (max-width: 800px) {
    #home .home_wapper{
        display: flex;
        flex-direction: column-reverse;
        align-items:flex-start;
        justify-content: center;
        gap: 2rem;
        max-width: 100%;
        margin: 0 1rem ;
    }

    #home .right {
        width: 100%;
    }

    #home .left {
        width: 100%;
    }
}