.post {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    padding-bottom: 2rem;
    transition: var(--transition);
    cursor: pointer;
}

.post:hover,
.post:focus {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
}

.post .post_img {
    border-radius: 1.5rem;
    overflow: hidden;
    min-height: 10rem;
}

.post .post_img img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center center;
}

.post_content {
    margin-top: 1rem;
}

.post_content h3 {
    margin: 1rem 0 0.6rem;
}

.post_footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: flex-end;
    margin-top: .5rem;
}
